* {
	color: rgb(255, 255, 255);
}
body {
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
h1 {
  font-family: 'Righteous', cursive;
  font-size: 4rem;
}
#startGame {
  background: grey;
  padding: 100px;
  z-index: 1;
}
button {
  background: none !important;
  border: solid white !important;
}
button:hover {
  background: white !important;
  border: solid white !important;
  color: black !important;
}
.modal-content {
  background: rgba(0, 0, 0, 0.911);
  border: solid rgb(255, 255, 255);
}
li, span {
  color: rgb(255, 255, 255);
  padding: 4px;
}
.content-wrapper {
	max-width: 650px;
}
.gemImage {
	max-width: 8em;
	border-radius: 100%;
	padding: 20px
}
#one:hover {
    -webkit-box-shadow: 0 0 30px 0 rgba(145, 147, 255, 0.4);
    box-shadow: 0 0 10px 0 rgba(143, 141, 255, 0.4), inset 0 0 110px 0 rgba(105, 107, 255, 0.4);
}
#two:hover {
    -webkit-box-shadow: 0 0 30px 0 rgba(83, 221, 102, 0.4);
    box-shadow: 0 0 10px 0 rgba(83, 224, 101, 0.4), inset 0 0 110px 0 rgba(72, 187, 82, 0.4);
}
#three:hover {
    -webkit-box-shadow: 0 0 30px 0 rgba(235, 84, 84, 0.4);
    box-shadow: 0 0 10px 0 rgba(235, 133, 133, 0.4), inset 0 0 110px 0 rgba(255, 123, 123, 0.4);
}
#four:hover {
    -webkit-box-shadow: 0 0 30px 0 rgba(162, 82, 228, 0.4);
    box-shadow: 0 0 10px 0 rgba(153, 72, 228, 0.4), inset 0 0 110px 0 rgba(170, 75, 224, 0.4);
}

/* Style the video: 100% width and height to cover the entire window */
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ======================================= */

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg-video {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg-video {
      width: auto;
      height: 100%;
    }
  }
